.PaneEditor {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 1rem;
  color: var(--gray);
}

.PaneEditor.editing {
  color: var(--text);
  background-color: var(--primary);
}

.PaneEditor.editing input {
  border-color: var(--gray);
  border-radius: 3px;
  outline: none;
}

.PaneEditor:focus input,
.PaneEditor:active input {
  text-transform: lowercase;
}

.PaneEditor input {
  border: 1px solid transparent;
  background: inherit;
  color: inherit;
  width: 40%;
  margin: 0 0.1rem;
}

.PaneEditor input:focus,
.PaneEditor input:active {
  text-transform: lowercase;
}

.PaneEditor button {
  border: none;
  background: inherit;
  color: inherit;
  width: 10%;
  border: 1px solid var(--gray);
  border-radius: 3px;
  margin: 0 0.1rem;
}

.PaneEditor .name {
  font-weight: bold;
  width: 20vw;
  text-transform: capitalize;
}

.PaneEditor .numOfLabel {
  
}

.PaneEditor .numOfInput {
  width: 50%;
  text-transform: capitalize;
}

.PaneEditor .btnDone {
  color: var(--success);
}

.PaneEditor .btnRemove {
  color: var(--danger);
}