.PaneEditor {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1rem;
  color: var(--white);
  opacity: 0.8;
}

.PaneEditor.editing {
  opacity: 1;
  background-color: var(--primary-dark);
}

.PaneEditor.editing input {
  border-color: var(--ok);
  border-radius: 3px;
  outline: none;
}

.PaneEditor:focus input,
.PaneEditor:active input {
  text-transform: lowercase;
}

.PaneEditor input {
  border: 1px solid transparent;
  background: inherit;
  color: inherit;
  width: 40%;
  margin: 0 0.2rem;
  font-size: 0.9rem;
}

.PaneEditor input:focus,
.PaneEditor input:active {
  text-transform: lowercase;
}

.PaneEditor button {
  border: none;
  background: var(--black);
  color: inherit;
  width: auto;
  border-radius: 2px;
  margin: 0 0.1rem;
  padding: 0.3rem 0.5rem;
}

.PaneEditor .name {
  width: 20vw;
  text-transform: capitalize;
}

.PaneEditor .numOfLabel {
  font-weight: bold;
}

.PaneEditor .numOfInput {
  width: 50%;
  text-transform: capitalize;
}

.PaneEditor .btnDone {
  color: var(--success);
}

.PaneEditor .btnRemove {
  color: var(--danger);
}