.PaneEditor {
  font-size: 1rem;
  
  color: var(--white);
  opacity: 0.8;
}

.PaneEditor.editing {
  opacity: 1;
  background-color: var(--primary-dark);
}

.PaneEditor form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1rem;
}

.PaneEditor.editing input {
  border-color: var(--primary);
  border-radius: 3px;
  outline: none;
}

.PaneEditor:focus input,
.PaneEditor:active input {
  text-transform: lowercase;
}

.PaneEditor input {
  border: 1px solid transparent;
  background: inherit;
  color: inherit;
  width: 40%;
  margin: 0 0.2rem;
  font-size: 0.9rem;
  padding: 0 0.2rem;
}

.PaneEditor input:focus,
.PaneEditor input:active {
  text-transform: lowercase;
}

.PaneEditor button {
  border: none;
  background: var(--black);
  color: inherit;
  width: auto;
  border-radius: 2px;
  margin: 0 0.1rem;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  transition: color 0s;
}

.PaneEditor .name,
.PaneEditor .numOfInput {
  width: 18vw;
}

.PaneEditor .name {
  text-transform: capitalize;
  max-width: 100px;
  font-weight: inherit;
}

.PaneEditor .numOf {
  font-weight: bold;
}

.PaneEditor .numOfInput {
  text-transform: capitalize;
  max-width: 70px;
}

.PaneEditor .btnDone {
  color: var(--success);
}

.PaneEditor .btnRemove {
  color: var(--danger);
}

@media (min-width: 800px) {
  .PaneEditor {
    font-size: 1.1rem;
  }
  .PaneEditor input {
    font-size: inherit;
  }
  .PaneEditor .numOfInput {
    max-width: 100px;
  }
}