.DrawerToggle {
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topLine,
.bottomLine {
  width: 24px;
  height: 4px;
  background-color: var(--white);
  transition: all var(--time);
  transform-origin: left;
  border-radius: 2px;
}

.topLine {
  margin-bottom: 13px;
}

.topClosed {
  transform:
    rotate(45deg);
}

.bottomClosed {
  transform:
    rotate(-45deg);
}