.Input {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1rem;
}

.label {
  text-transform: capitalize;
  margin-right: 0.5rem;
}

.inputField {
  -moz-appearance: textfield;
  appearance: textfield;
  font-size: 1rem;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 0.4rem;
  outline: none;
  width: 50vw;
}

.inputField:focus,
.inputField:active {
  outline: none;
}

.inputField:disabled {
  pointer-events: none;
}

.success {
  color: green;
  border-color: green;
}
.danger {
  color: red;
  border-color: red;
}
.ok {
  color: blue;
  border-color: blue;
}