.Input {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1rem;
  color: inherit;
}

.label {
  text-transform: capitalize;
  margin-right: 0.5rem;
}

.inputField {
  -moz-appearance: textfield;
  appearance: textfield;
  font-size: 1rem;
  border: none;
  padding: 0.5rem;
  outline: none;
  width: 50vw;
  background-color: var(--secondary);
  color: inherit;
  font-weight: bold;
  font-family: inherit;
}

.inputField:focus,
.inputField:active {
  outline: none;
}

.inputField:disabled {
  pointer-events: none;
  background-color: var(--disabled);
}

.success {
  color: var(--success);
  border-color: var(--success);
}
.danger {
  color: var(--danger);
  border-color: var(--danger);
}
.ok {
  color: var(--ok);
  border-color: var(--ok);
}