.Input {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1rem;
  color: inherit;
}

.label {
  text-transform: capitalize;
  margin-right: 0.5rem;
}

.inputField {
  -moz-appearance: textfield;
  appearance: textfield;
  font-size: 1rem;
  border: none;
  padding: 0.5rem;
  outline: none;
  width: 50vw;
  max-width: 250px;
  background-color: var(--secondary);
  color: inherit;
  font-weight: bold;
  font-family: inherit;
  border-radius: 4px;
}

.inputField:focus,
.inputField:active {
  outline: none;
}

.inputField:disabled {
  pointer-events: none;
  background-color: var(--disabled);
}

.success {
  color: var(--success);
  border-color: var(--success);
}
.danger {
  color: var(--danger);
  border-color: var(--danger);
}
.ok {
  color: var(--ok);
  border-color: var(--ok);
}

@media (min-width: 800px) {
  .Input {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .inputField {
    font-size: 1em;
    padding: 0.5em 1em;
  }
}