.TopBar {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  color: var(--white);
  background-color: var(--primary);
  background-image: linear-gradient(to bottom, #0000, var(--gradient));
}

.Target {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.Target p {
  margin: 0;
}
.Target span {
  display: inline-block;
  min-width: 6.5rem;
}

