.TopBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  color: inherit;
  background-color: var(--primary);
  /* position: fixed; */
  /* bottom: 0; */
}

.Target {
  /* border: 1px solid black;
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; */
}

.Target p {
  margin: 0.1rem 0.5rem;
}

