.RatePane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading {
  position: relative;
  text-align: center;
  text-transform: capitalize;
}

.totals {
  margin-top: 1.2rem;
}