.SettingsPanel {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 80vw;
  background-color: var(--black);
  color: var(--gray);
  transition: transform 0.3s;
  z-index: 101;
}

.open {
  transform: translateX(0);
}

.closed {
  transform: translateX(100%);
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.heading h2 {
  text-align: center;
  margin: 0;
}

.darkToggle {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: inherit;
  border: 1px solid var(--gray);
  color: inherit;
}