.SettingsPanel {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 80vw;
  background-color: var(--primary);
  color: var(--white);
  transition: transform 0.3s;
  z-index: 101;
}

.open {
  transform: translateX(0);
}

.closed {
  transform: translateX(100%);
}

.heading {
  /* display: flex; */
  justify-content: space-between;
  padding: 1rem;
}

.SettingsPanel h2 {
  /* text-align: center; */
  /* margin: 0 auto 1rem auto; */
  margin: 1rem;
  transition: opacity var(--time);
}

.open h2 {
  opacity: 1;
}

.closed h2 {
  opacity: 0;
}

.darkToggle {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 1px solid var(--white);
  margin-right: 3rem;
}

.darkToggle.dark {
  background-color: inherit;
  color: inherit;
}

.darkToggle.light {
  background-color: var(--white);
  color: var(--primary);
}