.SettingsPanel {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 80vw;
  max-width: 500px;
  background-color: var(--primary);
  background-image: linear-gradient(to bottom, #0000, var(--gradient));
  color: var(--white);
  transition: transform 0.3s;
  z-index: 101;
}

.open {
  transform: translateX(0);
}

.closed {
  transform: translateX(100%);
}

.heading {
  padding: 1rem;
}

.SettingsPanel h2 {
  margin: 1rem;
  transition: opacity var(--time);
}

.open h2 {
  opacity: 1;
}

.closed h2 {
  opacity: 0;
}

.darkToggle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: 1px solid var(--white);
  margin-right: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.darkToggle.dark {
  background-color: inherit;
  color: inherit;
}

.darkToggle.light {
  background-color: var(--white);
  color: var(--primary);
}