:root {
  --black: #141525;
  --white: #eeeff6;
  --time: 0.2s;
  --font: Poppins, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  transition:
    background-color var(--time),
    color var(--time);
}

.App.Light {
  --primary: #343765;
  --secondary: #dddeee;
  --text: var(--primary);
  --background: var(--white);
  --gray: #999;
  --disabled: #abaed4;
  --success: #06f9c8;
  --danger: #ff1a62;
  --ok: #208cff;
}

.App.Dark {
  --primary: #343765;
  --secondary: #343765;
  --text: var(--white);
  --background: var(--black);
  --gray: #666;
  --disabled: #232543;
  --success: #06f9c8;
  --danger: #ff1a62;
  --ok: #5ba9ff;
}

.App {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font);
}

.swipeDiv {
  height: 100%;
  overflow: hidden;
}