:root {
  --primary: #424680;
  --primary-dark: #2c2e53;
  --black: #191a2e;
  --white: #eeeff6;
  --gradient: #14152533;
  --time: 0.2s;
  --font: 'Source Sans Pro', Poppins, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  transition:
    background-color var(--time),
    color var(--time);
}

.App.Light {
  --secondary: #dddeee;
  --text: var(--primary);
  --background: var(--white);
  --gray: #999;
  --disabled: #abaed4;
  --success: #06f9c8;
  --danger: #ff1a62;
  --ok: #0068d8;
}

.App.Dark {
  --secondary: var(--primary);
  --text: var(--white);
  --background: var(--black);
  --gray: #666;
  --disabled: var(--primary-dark);
  --success: #06f9c8;
  --danger: #ff1a62;
  --ok: #5ba9ff;
}

.App {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font);
}

.PaneNav {
  z-index: 1;
}

.ReactSwipe {
  min-height: calc(100vh - 64px);
  z-index: 1;
}

.swipeDiv {
  min-height: calc(100vh - 64px);
}
/* TODO: figure out how to do this /*
/* .swipeDiv:first-child::before {
  content: '';
  position: absolute;
  left: 0;
  height: 5.75rem;
  width: 50px;
  background-color: red;
  z-index: 1000;
}

.swipeDiv:last-child::before {
  content: '';
  position: absolute;
  right: 0;
  height: 5.75rem;
  width: 50px;
  background-color: red;
  z-index: 100;
} */