:root {
  --font-size: 18px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size);
  /* Disable pull-to-refresh, allow glow effects */
  overscroll-behavior-y: contain;
}
